/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

footer{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background-color: #21222A;
  height: 200px;
  margin-bottom: auto;
}

.nav--logo_text {
  justify-content: center;
  align-self: center;
  color: white;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 800;
}

.nav--icon {
  height: 80px;
  margin-right: 7px;
}



.card-list-container {
  padding-inline: 23px;

}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.card-tile a {
  color: #161616;
  text-decoration: none;
  font-weight: 700;
  font-size: medium;    
}

.card-tile img {
  max-width: 100%;
  border-radius: 5px;
}
.card-info{
  background-color: beige;
  height: 90px;
  font-weight: 300px;
}

.card-list-container button {
  margin-right: 20px;
  cursor: pointer;
}
