<div class="jumbotron text-center">
    <h2>Menú administrador</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_empleado/consulta_empleados" style="color:inherit">Consultar Empleados por Sucursal</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/Pedido_Proveedor" style="color:inherit">Pedidos a proveedor</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/admin_tools/bono" style="color:inherit">Seleccionar Bono</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/Pedido_Proveedor" style="color:inherit">Pedidos a proveedor</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/admin_tools/reporte_ganancia" style="color:inherit">Reporte ganancias proveedores</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/admin_tools/reporte_sucursal" style="color:inherit">Reporte ganancias sucursales</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_sucursal/buscar_sucursal" style="color:inherit">Buscar Sucursal</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_empleado/consulta_empleado" style="color:inherit">Seleccionar Empleados</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_direccion/selec" style="color:inherit">Seleccionar Direcciones</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_direccion/borr" style="color:inherit">Borrar Direcciones</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_productos_vencidos/selec" style="color:inherit">Seleccionar Productos Vencidos</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_productos_vencidos/borr" style="color:inherit">Borrar Direcciones</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_direccion/borr" style="color:inherit">Borrar Direcciones</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_direccion/borr" style="color:inherit">Borrar Direcciones</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_direccion/borr" style="color:inherit">Borrar Direcciones</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_direccion/borr" style="color:inherit">Borrar Direcciones</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_direccion/borr" style="color:inherit">Borrar Direcciones</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="/admin/crud_direccion/borr" style="color:inherit">Borrar Direcciones</a>
                </button>
            </div>
        </div>
    </div>
</div>